# Recommender System
![alt text](https://miro.medium.com/max/687/1*-Jr1l2rlj9SBcCzlDHtN5g.jpeg)

In [ ]:
#Import all libraries needed
import numpy as np
import pandas as pd
import pandas_profiling
from sklearn.metrics.pairwise import cosine_similarity
from urllib.request import urlopen
from zipfile import ZipFile
import os
from scipy.sparse.linalg import svds
from sklearn.feature_extraction.text import TfidfVectorizer
import time

## Content Based

In [ ]:
#Download Data
!wget https://raw.githubusercontent.com/nikitaa30/Content-based-Recommender-System/master/sample-data.csv

--2021-11-19 02:30:32--  https://raw.githubusercontent.com/nikitaa30/Content-based-Recommender-System/master/sample-data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 566516 (553K) [text/plain]
Saving to: ‘sample-data.csv’

sample-data.csv     100%[===================>] 553.24K  --.-KB/s    in 0.02s

2021-11-19 02:30:32 (30.1 MB/s) - ‘sample-data.csv’ saved [566516/566516]

In [ ]:
#data sinopsis
ds = pd.read_csv("sample-data.csv")
ds

      id                                        description
0      1  Active classic boxers - There's a reason why o...
1      2  Active sport boxer briefs - Skinning up Glory ...
2      3  Active sport briefs - These superbreathable no...
3      4  Alpine guide pants - Skin in, climb ice, switc...
4      5  Alpine wind jkt - On high ridges, steep ice an...
..   ...                                                ...
495  496  Cap 2 bottoms - Cut loose from the maddening c...
496  497  Cap 2 crew - This crew takes the edge off fick...
497  498  All-time shell - No need to use that morning T...
498  499  All-wear cargo shorts - All-Wear Cargo Shorts ...
499  500  All-wear shorts - Time to simplify? Our All-We...

[500 rows x 2 columns]

In [ ]:
#Membuat Vektor representasi dari tiap item dengan TF-IDF
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3), min_df=0, stop_words='english')  
tfidf_matrix = tf.fit_transform(ds['description'])

#Menghitung Similarity
cosine_similarities = cosine_similarity(tfidf_matrix, tfidf_matrix)

results = {}

for idx, row in ds.iterrows():
    similar_indices = cosine_similarities[idx].argsort()[:-100:-1]
    similar_items = [(cosine_similarities[idx][i], ds['id'][i]) for i in similar_indices]

    results[row['id']] = similar_items[1:]
    
print('done!')

def item(id):
    return ds.loc[ds['id'] == id]['description'].tolist()[0].split(' - ')[0]

done!

In [ ]:
# Just reads the results out of the dictionary.
def recommend(item_id_sebelumnya, num):
    print("Recommending " + str(num) + " products similar to " + item(item_id_sebelumnya) + "...")
    print("-------")
    recs = results[item_id_sebelumnya][:num]
    for rec in recs:
        print("Recommended: " + item(rec[1]) + " (score:" + str(rec[0]) + ")")

In [ ]:
recommend(item_id_sebelumnya=2, num=5)

Recommending 5 products similar to Active sport boxer briefs...
-------
Recommended: Active sport briefs (score:0.4181663992161573)
Recommended: Cap 1 boxer briefs (score:0.1154638209862757)
Recommended: Active boxer briefs (score:0.113033922454002)
Recommended: Active briefs (score:0.112478545210916)
Recommended: Active boy shorts (score:0.11147017924424411)

## Collaborative - Memory Based

In [ ]:
#Download data berformat zip, lalu diunzip
!wget 'http://files.grouplens.org/datasets/movielens/ml-latest-small.zip'
!unzip 'ml-latest-small.zip'

--2021-11-19 02:30:33--  http://files.grouplens.org/datasets/movielens/ml-latest-small.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 978202 (955K) [application/zip]
Saving to: ‘ml-latest-small.zip’

ml-latest-small.zip 100%[===================>] 955.28K  1.46MB/s    in 0.6s

2021-11-19 02:30:34 (1.46 MB/s) - ‘ml-latest-small.zip’ saved [978202/978202]

Archive:  ml-latest-small.zip
   creating: ml-latest-small/
  inflating: ml-latest-small/links.csv
  inflating: ml-latest-small/tags.csv
  inflating: ml-latest-small/ratings.csv
  inflating: ml-latest-small/README.txt
  inflating: ml-latest-small/movies.csv

In [ ]:
rating_data = pd.read_csv('ml-latest-small/ratings.csv')
movie_data = pd.read_csv('ml-latest-small/movies.csv')
rating_data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
rating_data.drop('timestamp', axis = 1, inplace=True)
rating_data.head(2)

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0

In [ ]:
movie_data.head(2)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

Kedua file ini saat ini sudah memiliki data peringkat pengguna dan data film yang terpisah.

Namun, karena kedua file ini memiliki kesamaan movieId, keduanya dapat digabungkan berdasarkan movieId.
Mari buat pivot_table untuk data rating berdasarkan film-pengguna.

In [ ]:
user_movie_rating = pd.merge(rating_data, movie_data, on = 'movieId')
user_movie_rating.head()

   userId  ...                                       genres
0       1  ...  Adventure|Animation|Children|Comedy|Fantasy
1       5  ...  Adventure|Animation|Children|Comedy|Fantasy
2       7  ...  Adventure|Animation|Children|Comedy|Fantasy
3      15  ...  Adventure|Animation|Children|Comedy|Fantasy
4      17  ...  Adventure|Animation|Children|Comedy|Fantasy

[5 rows x 5 columns]

In [ ]:
movie_user_rating = user_movie_rating.pivot_table('rating', index = 'title', columns='userId')
user_movie_rating = user_movie_rating.pivot_table('rating', index = 'userId', columns='title')
movie_user_rating.head(2)

userId                                   1    2    3    4    ...  607  608  609  610
title                                                        ...
'71 (2014)                               NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  4.0
'Hellboy': The Seeds of Creation (2004)  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN

[2 rows x 610 columns]

In [ ]:
user_movie_rating

title   '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
userId              ...
1              NaN  ...                                        NaN
2              NaN  ...                                        NaN
3              NaN  ...                                        NaN
4              NaN  ...                                        NaN
5              NaN  ...                                        NaN
...            ...  ...                                        ...
606            NaN  ...                                        NaN
607            NaN  ...                                        NaN
608            NaN  ...                                        NaN
609            NaN  ...                                        NaN
610            4.0  ...                                        NaN

[610 rows x 9719 columns]

Seperti sebelumnya, karena item-based filtering oleh karena itu kita harus mengubah satu kolom menjadi kolom Film, kolom lainnya adalah Pengguna.

Dalam keadaan ini, pertama-tama kita akan melanjutkan dengan pemfilteran kolaboratif berbasis item.

Pertama, nilai NaN diubah menjadi 0.

In [ ]:
movie_user_rating.fillna(0, inplace = True)
movie_user_rating.head()

userId                                   1    2    3    4    ...  607  608  609  610
title                                                        ...
'71 (2014)                               0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  4.0
'Hellboy': The Seeds of Creation (2004)  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
'Round Midnight (1986)                   0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
'Salem's Lot (2004)                      0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
'Til There Was You (1997)                0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0

[5 rows x 610 columns]

Saat ini, baris adalah film dan col adalah pengguna.

Dalam item-based collaborative filtering, apabila pelanggan yang membeli suatu produk juga membeli produk lainnya, misalnya: saat kita ke supermarket kita membeli pasta gigi, juga beli sabun mandi.
Dengan kata lain, pelanggan yang melihat suatu film juga melihat film lain yg serupa. basis ini didasarkan pada peringkat yang sama.
Sekarang, mari kita periksa apakah peringkatnya serupa dengan mengukur kesamaan kosinus.

In [ ]:
item_based_collabor = cosine_similarity(movie_user_rating)
item_based_collabor

array([[1.        , 0.        , 0.        , ..., 0.32732684, 0.        ,
        0.        ],
       [0.        , 1.        , 0.70710678, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.70710678, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.32732684, 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [ ]:
item_based_collabor = pd.DataFrame(data = item_based_collabor, index = movie_user_rating.index, columns = movie_user_rating.index)
item_based_collabor

title                                      '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
title                                                  ...
'71 (2014)                                   1.000000  ...                                        0.0
'Hellboy': The Seeds of Creation (2004)      0.000000  ...                                        0.0
'Round Midnight (1986)                       0.000000  ...                                        0.0
'Salem's Lot (2004)                          0.000000  ...                                        0.0
'Til There Was You (1997)                    0.000000  ...                                        0.0
...                                               ...  ...                                        ...
eXistenZ (1999)                              0.000000  ...                                        0.0
xXx (2002)                                   0.139431  ...                                        0.0
xXx: State of the Union (2005)               0.327327  ...                                        0.0
¡Three Amigos! (1986)                        0.000000  ...                                        0.0
À nous la liberté (Freedom for Us) (1931)    0.000000  ...                                        1.0

[9719 rows x 9719 columns]

Dengan cara ini, kesamaan antar item telah berhasil didapatkan.

Sekarang, kita dapat menambahkan fungsi yang merekomendasikan item yg serupa.

In [ ]:
def get_item_based_collabor(title, r=6):
    print('Terima kasih sudah menonton', title, 'kami rekomendasikan anda menonton film ini:', )
    rf = item_based_collabor[title].sort_values(ascending=False)[:r+1]
    if title in rf:
      del rf[title]
    return rf

In [ ]:
start = time.time()
rekomendasinya = get_item_based_collabor("'Til There Was You (1997)", 10)
end = time.time()
waktu = end - start
print(rekomendasinya)
print(waktu)

Terima kasih sudah menonton 'Til There Was You (1997) kami rekomendasikan anda menonton film ini:
title
All This, and Heaven Too (1940)                      0.857493
'Salem's Lot (2004)                                  0.857493
Absence of Malice (1981)                             0.651057
Affair to Remember, An (1957)                        0.592057
10 (1979)                                            0.552657
Best Seller (1987)                                   0.514496
Man and a Woman, A (Un homme et une femme) (1966)    0.514496
84 Charing Cross Road (1987)                         0.493049
3 Women (Three Women) (1977)                         0.474512
All That Heaven Allows (1955)                        0.450090
Name: 'Til There Was You (1997), dtype: float64
0.00571894645690918

## Collaborative - Model Based
Disini kita akan menggunakan SVD untuk membuat rekomendasi

In [ ]:
user_movie_rating.fillna(0, inplace = True)
user_movie_rating

title   '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
userId              ...
1              0.0  ...                                        0.0
2              0.0  ...                                        0.0
3              0.0  ...                                        0.0
4              0.0  ...                                        0.0
5              0.0  ...                                        0.0
...            ...  ...                                        ...
606            0.0  ...                                        0.0
607            0.0  ...                                        0.0
608            0.0  ...                                        0.0
609            0.0  ...                                        0.0
610            4.0  ...                                        0.0

[610 rows x 9719 columns]

In [ ]:
#Preprocessing
R = user_movie_rating.values                  #Menyimpan angka pada Matriks
U, sigma, Vt = svds(R, k = 50)                #membuat singular value decomposition untuk menyederhanakan matriks
sigma = np.diag(sigma)                        #eigen value
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt)

preds_df = pd.DataFrame(all_user_predicted_ratings, columns = user_movie_rating.columns)
preds_df.head()

title  '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
0       -0.069287  ...                                   0.033463
1       -0.028678  ...                                  -0.000368
2        0.017487  ...                                   0.003761
3       -0.009402  ...                                  -0.005385
4        0.014022  ...                                   0.001638

[5 rows x 9719 columns]

In [ ]:
def recommend_movies(userID, num_recommendations=5):
  user_row_number = userID - 1 
  sorted_user_predictions = preds_df.iloc[user_row_number].sort_values(ascending=False) #sorting nilai dr matriks dekomposisi
  user_data = rating_data[rating_data.userId == (userID)]
  user_full = (user_data.merge(movie_data, how = 'left', left_on = 'movieId', 
                right_on = 'movieId').sort_values(['rating'], ascending=False)) #menggabungkan dataframe rating dan list movie yang ratingnya sudah disorting
  
  recommendations = (movie_data[~movie_data['movieId'].isin(user_full['movieId'])]).merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left', left_on = 'title',
               right_on = 'title').rename(columns = {user_row_number: 'Predictions'}).sort_values('Predictions', ascending = False).iloc[:num_recommendations, :-1]
                                                                      #memfilter film yang sudah ditonton    

  return user_full, recommendations

sudah_ditonton, rekomendasi = recommend_movies(300, 10)
sudah_ditonton.head()

    userId  ...                                 genres
16     300  ...  Action|Adventure|Crime|Drama|Thriller
11     300  ...                          Drama|Romance
29     300  ...                                  Drama
27     300  ...                            Sci-Fi|IMAX
24     300  ...                         Drama|Thriller

[5 rows x 5 columns]

In [ ]:
rekomendasi

      movieId  ...                          genres
257       296  ...     Comedy|Crime|Drama|Thriller
3128     4226  ...                Mystery|Thriller
46         50  ...          Crime|Mystery|Thriller
43         47  ...                Mystery|Thriller
2359     3147  ...                     Crime|Drama
891      1193  ...                           Drama
97        110  ...                Action|Drama|War
4782     7153  ...  Action|Adventure|Drama|Fantasy
6987    68157  ...                Action|Drama|War
3625     4995  ...                   Drama|Romance

[10 rows x 3 columns]

In [ ]:
start = time.time()
sudah_ditonton, rekomendasi = recommend_movies(30, 10)
end = time.time()
waktu = end - start
print(rekomendasi)
print(waktu)

      movieId  ...                                     genres
2214     2959  ...                Action|Crime|Drama|Thriller
7671    89745  ...               Action|Adventure|Sci-Fi|IMAX
2662     3578  ...                     Action|Adventure|Drama
1492     2028  ...                           Action|Drama|War
506       593  ...                      Crime|Horror|Thriller
311       356  ...                   Comedy|Drama|Romance|War
959      1270  ...                    Adventure|Comedy|Sci-Fi
893      1197  ...    Action|Adventure|Comedy|Fantasy|Romance
7281    76093  ...  Adventure|Animation|Children|Fantasy|IMAX
255       296  ...                Comedy|Crime|Drama|Thriller

[10 rows x 3 columns]
0.02010798454284668

In [ ]:
rekomendasi

      movieId                             title                        genres
2214     2959                 Fight Club (1999)   Action|Crime|Drama|Thriller
7671    89745              Avengers, The (2012)  Action|Adventure|Sci-Fi|IMAX
2662     3578                  Gladiator (2000)        Action|Adventure|Drama
1492     2028        Saving Private Ryan (1998)              Action|Drama|War
506       593  Silence of the Lambs, The (1991)         Crime|Horror|Thriller

# Latihan

In [ ]:
#Gunakan file ratings_small.csv
data = pd. .....
data = data.pivot_table('rating', index = 'userId', columns = 'movieId')
data

In [ ]:
#Gunakan file ratings_small.csv dan tmdb_5000_movies.csv
ratings = pd. ...
movies = pd. ...

In [ ]:
movies.rename(columns = {'id': 'movieId'}, inplace = True) #mengganti kolom "id" dengan "movieId" agar mudah dimerge dengan ratings

In [ ]:
#Merge movies dan ratings berdasarkan "movieId", ketik dibawah sini
ratings_movies = ...
ratings_movies.head()

In [ ]:
data = ratings_movies.pivot_table('rating', index = 'userId', columns = 'title').fillna(0)
data

Lakukan proses membuat rekomendasi item-based

Coba dites untuk 10 film rekomendasi setelah menonton "Harry Potter and the Half-Blood Prince". Jika sudah benar kurang lebih hasilnya begini :

![image.png]()